{% extends './base.html' %}
	{% block content %}
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					用户资料					
				</h1>

				

					

				
						<div class="widget">
							
							<div class="widget-header">
								<h3>用户信息</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								
								
								<div class="tabbable">

						
						<br />
						
							<div class="tab-content">
							<div class="tab-pane active" id="1">
							<div>
							<form method="post" action="{{ url_for('auth.change_password')}}" id="edit-profile" class="form-horizontal" />
								<fieldset>
										
										<div class="control-group">											
											<label class="control-label" for="username">用户名</label>
											<div class="controls">
												<input type="text" class="input-medium disabled" id="username" value="{{ user_query.username }}" disabled="" />
												{% if current_user.id!=user_query.id %}
													{% if current_user.is_follower(user_query.id) %}
												<a href="{{url_for('auth.cancel_attention_user',followed_id=user_query.id)}}">取消关注</a>
													{% else %}
												<a href="{{url_for('auth.attention_user',followed_id=user_query.id)}}">关注</a>
													{% endif %}
												{% endif %}
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										
										
										<div class="control-group">											
											<label class="control-label" for="firstname">姓名</label>
											<div class="controls">
												<input name = "name" type="text" class="input-medium" id="firstname" value="{{ user_query.name }}" />
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										
										

										<div class="control-group">											
											<label class="control-label" for="email">邮箱</label>
											<div class="controls">
												<input type="text" class="input-medium disabled" id="username" value="{{ user_query.email }}" disabled=""/>
											</div>
										</div>										
										
										{% if current_user.id==user_query.id %}
										<div class="control-group">											
											<label class="control-label" for="password1">Password</label>
											<div class="controls">
												<input name="password" type="password" class="input-medium" id="password1" />
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										
										
										<div class="control-group">											
											<label class="control-label" for="password2">Confirm</label>
											<div class="controls">
												<input name="confirm_password" type="password" class="input-medium" id="password2" />
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										{% endif %}
										<div class="control-group">											
											<label class="control-label" for="email">TA的问题</label>
											<div class="controls">
												<input type="text" class="input-medium disabled" id="username" value="{{ user_query.counter_question_ask()[1] }}" disabled=""/><a href="{{ url_for('main.question_list',ask_or_atten='ask',user_id=user_query.id) }}">点击查看</a>
											</div>

										</div>
										<div class="control-group">											
											<label class="control-label" for="email">TA关注的问题</label>
											<div class="controls">
												<input type="text" class="input-medium disabled" id="username" value="{{ user_query.counter_question_attention()[1] }}" disabled=""/><a href="{{ url_for('main.question_list',ask_or_atten='atten',user_id=user_query.id) }}">点击查看</a>
											</div>

										</div>
										<div class="control-group">											
											<label class="control-label" for="email">TA的答案</label>
											<div class="controls">
												<input type="text" class="input-medium disabled" id="username" value="{{ user_query.answer_asked()[1] }}" disabled=""/><a href="{{url_for('main.answers_list',user_id=user_query.id)}}">点击查看</a>
											</div>
											
										</div>										
										<div class="control-group">											
											<label class="control-label" for="email">TA点过的赞</label>
											<div class="controls">
												<input type="text" class="input-medium disabled" id="username" value="{{ user_query.counter_like_answer()[1] }}" disabled=""/><a href="{{url_for('main.like_list',like_or_bylike='like',user_id=user_query.id)}}">点击查看</a>
											</div>
											
										</div>


										<div class="control-group">											
											<label class="control-label" for="email">TA获得的赞</label>
											<div class="controls">
												<input type="text" class="input-medium disabled" id="username" value="{{ user_query.like_counter }}" disabled=""/><a href="{{url_for('main.like_list',like_or_bylike='bylike',user_id=user_query.id)}}">点击查看</a>
											</div>

										</div>										
										
											
											<br />
										
											{% if current_user.id ==  user_query.id%}
											<div style="text-align:center">
											<button type="submit" class="btn btn-primary">保存</button> 
											</div>
											{% else %}
											{% endif %}											
									
								</fieldset>
								</form>
								</div>
								
		
							</div>
						  

								
								
								
								
								
								
								
								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
			</div> <!-- /span9 -->
			
	{% endblock %}