<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>知乎-注册</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/css/bootstrap-responsive.min.css" rel="stylesheet" />
    
    
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    
    <link href="../../static/css/adminia.css" rel="stylesheet" /> 
    <link href="../../static/css/adminia-responsive.css" rel="stylesheet" /> 

    <link href="../../static/css/pages/login.css" rel="stylesheet" /> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
	
<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<a class="brand" href="./">主页</a>
			

			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
			{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="alert alert-warning" style="text-align:center">
		<a href="#" class="close" data-dismiss="alert">
			&times;
		</a>
		{% for message in messages %}
		<strong>{{ message }}</strong>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}
</div> <!-- /navbar -->


<div id="login-container">
	
	
	<div id="login-header">
		
		<h3>注册</h3>
		
	</div> <!-- /login-header -->
	
	<div id="login-content" class="clearfix">
	
<!-- 	<form action="{{ url_for('auth.login') }}" method=post>
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="username">邮箱</label>
						<div class="controls">
							<input type="text" class="" id="username" name="email"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">密码</label>
						<div class="controls">
							<input type="password" class="" id="password" name="password"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">确认密码</label>
						<div class="controls">
							<input type="password" class="" id="password" name="password"/>
					</div>
					</div>
				</fieldset>
				

				
				<div class="pull-right">
					<button type="submit" class="btn btn-warning btn-large">
						登录
					</button>
				</div>
	</form>
 -->
    <!-- 注册 -->
	<div role="tabpanel1" class="tab-pane fade in active" id="register">
	  <form id="reg" class="form-signin" role="form" method="post" action="/reg">
	    <div class="form-group has-feedback">
	      <label class="control-label sr-only" for="inputSuccess1"></label>
	      <input id="inputSuccess1" type="text" name="username" class="form-control" placeholder="用户名" required autofocus>
	    </div>
	    <div class="form-group has-feedback">
	      <label class="control-label sr-only" for="inputSuccess2"></label>
	      <input id="inputSuccess2" type="email" name="email" class="form-control" placeholder="邮箱" required>
	    </div>
	    <div class="form-group has-feedback">
	      <label class="control-label sr-only" for="regpassword"></label>
	      <input id="regpassword" name="password" type="password" class="form-control" placeholder="密码" required>  
	    </div>
	    <div class="form-group has-feedback">
	      <label class="control-label sr-only" for="regpasswordagain"></label>
	      <input id="regpasswordagain" name="confirm_password" type="password" class="form-control" placeholder="确认密码" required>  
	     </div>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
	  </form>
	</div>
	<!-- 注册完！ -->


		
		<div id="login-extra">
			
			<p>已有账户？ <a href="{{ url_for('auth.login') }}">点击登录</a></p>
			
			
		</div> <!-- /login-extra -->

</div> <!-- /login-wrapper -->
    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/js/jquery-1.7.2.min.js"></script>


<script src="../../static/js/bootstrap.js"></script>

  </body>
</html>
