{% extends "./base.html" %}
{% block content %}
			
<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					热门					
				</h1>
			{% if answers == [] %}
				<h2>数据库出错！</h2>
			{% else %}
				{% for i in answers %}

				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
									
							<div class="widget-content">
								
								<h3><a href='{{ url_for('main.question',question_id=i.question.id) }}'>{{ i.question.title}}</a></h3>
								<p><font size="2" face="arial" color="black">{{ i.question.add_time }}</font></p>

								<div class="box">
								<p>{{ i.content }}</p>

								</div>
								<p align="right">
								<a class="btn btn-default" href="#" role="button">关注（{{ i.question.get_attention_counter() }}）</a>
								<a class="btn btn-default" href='{{ url_for('main.question',question_id=i.question.id) }}' role="button">评论（{{ i.get_comment_answer()[1] }}）</a>
								<a class="btn btn-default" href="#" role="button">赞（{{ i.get_like_counter() }}）</a>
								</p>
								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->

					
				</div> <!-- /row -->

				{% endfor %}
			{% endif %}		
					
	
				
			
{% endblock %}


{% block script %}

 
{% endblock %}