 {% extends "./base.html" %}
{% block content %}
			
<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					热门					
				</h1>
			{% if answers == [] %}
				<h2>数据库出错！</h2>
			{% else %}
				{% for answer in answers %}

				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
									
							<div class="widget-content">
								
								<h3><a href='{{ url_for('main.question',question_id=answer.question.id) }}'>{{ answer.question.title}}</a></h3>
								<p><font size="2" face="arial" color="black"><a href="{{url_for('auth.change_account',user_id=answer.user.id)}}">{{answer.user.name}}</a>发表于{{ answer.question.add_time }}</font></p>

								<div class="box">
								<p class="indentation">{{ answer.content }}</p>

								</div>
								<p align="right">
							{% if current_user.is_authenticated %}
								{% if current_user.judge_attention_question(answer.question.id) %}
								<a class="btn btn-default" href='{{url_for('main.cancel_attention_question',question_id=answer.question.id)}}' role="button">取消关注（{{ answer.question.attention_counter }}）</a>
								{% else %}
								<a class="btn btn-default" href='{{url_for('main.attention_question',question_id=answer.question.id)}}' role="button">关注（{{ answer.question.attention_counter }}）</a>
								{% endif %}
							{% else %}
								<a class="btn btn-default" href='{{url_for('main.attention_question',question_id=answer.question.id)}}' role="button">关注（{{ answer.question.attention_counter }}）</a>
							{% endif %}

								<a data-toggle="collapse" data-parent="#accordion" 
				  			href="#collapse{{answer.id}}" class="btn btn-default" role="button">评论（{{ answer.comment_counter }}）</a>
				  			{% if current_user.is_authenticated %}
				  				{% if current_user.judge_like_answer(answer.id) %}
								<a class="btn btn-default" href='{{url_for('main.cancel_like_answer',answer_id=answer.id)}}' role="button">取消赞（{{ answer.like_counter }}）</a>
								{% else %}
								<a class="btn btn-default" href='{{url_for('main.like_answer',answer_id=answer.id)}}' role="button">赞（{{ answer.like_counter }}）</a>
								{% endif %}
							{% else %}
								<a class="btn btn-default" href='{{url_for('main.like_answer',answer_id=answer_id)}}' role="button">赞（{{ answer.like_counter }}）</a>
							{% endif %}
								</p>
								<div id="collapse{{answer.id}}" class="panel-collapse collapse">
									<div class="panel-body">
										<div>
											<form method="post" action="{{url_for('main.submit_comment',answer_id=answer.id,question_id=answer.question.id)}}">
												<input style="width:100%;height:30px" name="comment_content" type="text" placeholder="写下您的评论"><br>
												<input style="width:10%;height:30px"  class="btn btn-info" type="submit" name="" value="提交">
											</form>

										</div>
									</div>
								</div>


								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->

					
				</div> <!-- /row -->

				{% endfor %}
			{% endif %}		
					
	
				
			
{% endblock %}


{% block script %}

 
{% endblock %}